@font-face {
    font-family: sukhumvit;
    src: url(assets/SukhumvitSet-Medium.ttf);
  }

:root {
    font-size: 1vw;
    --color1: #FFB7B7;
    --color2: #3f3d56;
    --color3: #c3001e;
    --color4: #3a0000;
  }

html, body {
    background-color: var(--color1);
}

/* ---------------- CENTER ---------------- */


 /* ---------------- TABLE ---------------- */


.btnG{
    font-size: 5vw; 
    text-align: center; 
    border: 2px solid var(--color2);
    width: 40vw;
}

.borderTB{
    border: 15px solid var(--color2);
    border-radius: 20px;
    background: var(--color2);
    max-width: 40vw;
    margin-top: 12%;
}
.borderTB-inner{
    border-radius: 10px;
    background: #fff;
    margin: 0;
}

.bg-pur{
    background-color: var(--color2);
}
 /* ---------------- PLAYER 1 PROFILE ---------------- */

.profile-p1{
    height: 12vw;
}

.display-img1{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    background-color: var(--color2);
    border: 5px solid var(--color2);
    margin: 2vw;
    z-index: 1;
}



/* ---------------- PLAYER 2 PROFILE ---------------- */

.profile-p2{
    height: 12vw;
}

.display-img2{
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    background-color: var(--color2);
    border: 5px solid var(--color2);
    margin: 2vw;
    float: right;
    position: relative;
    z-index: 1;
}
.item{
    width: 100%;
}

/* ---------------- HOLD EVENTS P 1 ---------------- */
.chargeBar1{
    background-color: #fff;
    width: 6vw;
    height: 25vw;
    border-radius: 60px;
    margin-left: 3vw;
}
.holdbutt{
    border-radius: 100%;
    width: 6vw;
    height: 6vw;
    font-weight: 500;
    font-size: 15pt;
    color: #fff;
    background-color: var(--color2);
    cursor: pointer;

}
.butStyle1{
    border: 5px solid var(--color3);
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2.5vw;
}

.power-x{
    background-color: var(--color3);
    width: 6vw;
    height: 0vw;
    border-radius: 60px;
}
@keyframes mymove {
    from {height: 20%;}
    to {height: 100%;}
  }

.play-anim{
    animation: mymove 0.4s alternate linear infinite;
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

/* ---------------- HOLD EVENTS P 2 ---------------- */
.chargeBar2{
    background-color: #fff;
    width: 6vw;
    height: 25vw;
    border-radius: 60px;
    margin-left: 14.5vw;
    
}

.butStyle2{
    border: 5px solid var(--color3);
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 14vw;
    margin-top: 2.5vw;
}

.power-o{
    background-color: var(--color3);
    width: 6vw;
    height: 0vw;
    border-radius: 60px;
}


/* ---------------- SLIDER ---------------- */
.block{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    margin-top: 2vw;
    width: 49vw;
}
.carousel{
    border: 10px solid var(--color2);
    border-radius: 40px;
    width: 41vw;
    height: 6vw;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.carousel > h1{
    margin: 0px;
    padding: 0px;
}

.arrow{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex: auto;

}
.left{
    margin-right:1vw;
    max-width: 3vw;
    max-height: 3vw;
}

.right{
    margin-left:1vw;
    max-width: 3vw;
    max-height: 3vw;
}

.gun{
    max-width: 6.2vw;
    max-height: 6.2vw;
    position: relative;
    top: -15px;
    margin-left: 18vw;
}
#statusShow{
    width: 38vw;
    height: 3vw;
    margin: 1vw;
    border-radius: 20px;
}